body {
    background-color: rgb(229, 212, 180);
    font-family: Georgia, serif;
    line-height: 1.5;
}
.starter-template {
    padding: 50px 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 1.2em;
    margin-bottom: 1em;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    gap: 20px;
}

.col {
    flex: 1;
    margin: 0 10px;
}


.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.circledPage {
    display: inline-block;
    height: 2em;
    line-height: 2em; 
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    vertical-align: middle; 
    margin: 0 0.2em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.del {
    text-decoration: line-through;
    opacity: 0.6;
}

.add {
    vertical-align: super;
    font-size: 0.75em;
}

body.index-page .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body.index-page .starter-template {
    margin: 0 auto;
    text-align: center;
}

body.index-page .row {
    justify-content: center;
}

body.index-page .col {
    max-width: 800px;
}


